{% extends "_parts/base.twig" %}

{% block title %}{{ product.name }} {{ parent() }}{% endblock %}

{% block meta %}
  <meta property="description" content="{{ product.shortDescription }}" />
  <meta property="og:title" content="{{ product.name }}" />
  <meta property="og:description" content="{{ product.shortDescription }}" />
  <meta property="og:image" content="{{ BASE_URL }}{{ product.imgSrc }}" />
{% endblock %}

{% block content %}

<style>
  .product-header h1 {
    float: left;
    line-height: 72px;
  }
  .product-header .image {
    width: 72px; 
    float: left; 
    margin-right: 1rem;
  }
  .product-install .button.special,
  .product-download .button.special,
  .product-header .button.special {
    color: #1b1b1b;
    border-radius: 30px;
    float: right;
    font-weight: normal;
    margin: 0.5em;
    border: solid 2px #C7D426;
    height: 3rem;
    line-height: 2.7rem;
  }
  .product-install .button.special.install,
  .product-download .button.special.install, 
  .product-header .button.special.install {
    background-color: #C7D426;
    min-width: 150px;
  }
  .product-install .button.special.download,
  .product-download .button.special.download, 
  .product-header .button.special.download {
    background-color: white;
  }
  .product-install .button.special.install .si,
  .product-download .button.special.install .si, 
  .product-header .button.special.install .si {
    background-color: #1b1b1b;
  }
  .product-download,
  .product-install-open-market {
    display: none;
    background-color: #f7f7f7;
    padding: 1em 0;
  }
  .product-install {
    background-color: #f7f7f7;
  }
  .dropdown {
    position: relative;
    width: auto;
    min-width: 240px;
    margin: 0.5em;
  }
  .dropdown label {
    position: absolute;
    top: 3px;
    left: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #1b1b1b;
    text-transform: none;
  }
  .dropdown select {
    position: relative;
    padding: 18px 1em 0 6px;
  }
  /*IE11 fix*/
  .dropdown select::-ms-expand {
    display: none;
  }
  .dropdown:before {
    content: "";
    position: absolute;
    right: 12px;
    top: 40%;
    background-image: url('/images/icons/arrow-down-1.svg');
    width: 12px;
    height: 12px;
  }

  @media screen and (max-width: 650px) {
    .product-meta .p-grid {
      flex-direction: column;
      align-content: flex-end;
      align-items: flex-end;
    }
  }
</style>

<section id="main">
  <div class="inner product-header">
    <div class="row">
      <div class="12u">
        <header>
          <h1>
            <img src="{{ product.imgSrc }}" class="image" alt="{{ product.name }}" />
            {{ product.name }}
          </h1>

          {% if view.mavenArtifacts is not empty and not IS_DESIGNER %}
            <a class="button special download" href="javascript:void(0)" onclick="toggleDownloadPanel();">
              <span>Download</span>
            </a>
          {% endif %}

          {% if not IS_DESIGNER and view.installable %}
            <a class="button special install" href="javascript:void(0)" onclick="$('.product-install-open-market').slideToggle()">
              <span>Install now</span>
            </a>
          {% endif %}

          {% if product.contactUs %}
            <a class="button special install" href="{{ product.inTouchLink }}">
              <span>Contact us</span>
            </a>
          {% endif %}
        </header>
      </div>
    </div>
  </div>
</section>

{% if not IS_DESIGNER %}
<section class="product-install-open-market">
  <div class="inner product-meta">
    <article class="alt">
        <i class="si si-info"></i> Please open the 
        <a href="https://developer.axonivy.com/doc/10.0/market/index.html">Axon Ivy Market</a> inside your  
        <a href="https://developer.axonivy.com/download">Axon Ivy Designer</a> (min 9.2.0)
    </article>
  </div>
</section>
{% endif %}

{% if not IS_DESIGNER %}
  <section class="product-download">
    <div class="inner product-meta">
      <article class="alt p-grid p-justify-end p-align-center">
        {% if view.mavenArtifacts is not empty %}
          <span class="dropdown">
            <label>Choose artifact</label>
            <select name="artifact" id="artifact" onchange="">
              {% for artifact in view.mavenArtifacts %}
                <a href="#">
                  <option value="{{ artifact.getUrl(view.selectedVersion) }}">{{ artifact.name }} ({{ artifact.type }})</option>
                </a>
              {% endfor %}
            </select>
          </span>
        {% endif %}
        {% if view.versionsToDisplay != null %}
        <span class="dropdown">
            <label>Choose target platform</label>
            <select name="version" id="version" onchange="updateDownloadArtifact(this);">
            {% for version in view.versionsToDisplay %}            
              <a href="#">
                <option value="{{ product.url }}/{{ version }}" {{ (version == view.selectedVersion) ? 'selected' : '' }}>Version {{ version }}</option>
              </a>
            {% endfor %}
            </select>
            <a style="font-size:12px;position:absolute;left:5px;" href="{{ view.showDevVersionsLink }}">{{ view.showDevVersionsText }}</a>
          </span>
        {% endif %}

        <a class="button special install artifact" href="javascript:void(0)" onclick="downloadArtifact()">
          <span class="download-artifact-btn">Download</span>
        </a>
      </article>
    </div>
  </section>
{% endif %}

{% if IS_DESIGNER and view.installable %}
<section class="product-install">
  <div class="inner product-meta">
    <article class="alt p-grid p-justify-end p-align-center">
      {% if view.versionsToDisplay != null %}
       <span class="dropdown">
          <label>Version</label>
          <select name="installVersion" id="installVersion" onchange="updateInstallArtifact(this);">
          {% for version in view.versionsToDisplay %}
            <a href="#">
              <option value="{{ product.url }}/{{ version }}" data-meta-json-url="{{ view.getProductJsonUrl(version)|raw }}" {{ (version == view.selectedVersion) ? 'selected' : '' }}>Version {{ version }}</option>
            </a>
          {% endfor %}
          </select>
        </span>
      {% endif %}

      <a class="button special install artifact {{ view.versionInstallable ? '' : 'disabled' }}" href="javascript:void(0)" onclick="installInDesigner()">
        <span class="install-artifact-btn">Install</span>
      </a>
    </article>

    {% if not view.versionInstallable %}
    <br />
      <div class="alt p-grid p-justify-end p-align-center">
        No installer available for this version
      </div>
    {% endif %}
  </div>
</section>
{% endif %}



<script>
  function updateDownloadArtifact(selection) { 
    $('.download-artifact-btn').parent().addClass('disabled');
    $('.download-artifact-btn').text('').addClass('si si-refresh si-is-spinning');
    location = selection.value + '#download';
  }
  function updateInstallArtifact(selection) {
    $('.install-artifact-btn').parent().addClass('disabled');
    $('.install-artifact-btn').text('').addClass('si si-refresh si-is-spinning');
    location = selection.value;
  }
  function downloadArtifact() {
    if (!$('.download-artifact-btn').parent().hasClass('disabled')) {
      window.location = $('#artifact').val();
    }
  }
  function toggleDownloadPanel() {
    if ($('.product-download').is(':visible')) {
      window.location.hash = '';
    } else {
      window.location.hash = '#download';
    }
    $('.product-download').slideToggle();
  }
  if (window.location.hash === '#download') {
    $('.product-download').show();
  }
  function installInDesigner() {
    var url = $('#installVersion').find(':selected').data('meta-json-url');
    install(url);
  }
  {% if view.installNow %}
    $('.product-install').show();
    installInDesigner();
  {% endif %}
</script>

{% include 'product/_product-data.twig' %}

{% include 'product/_product-description.twig' %}

{% endblock %}
